# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore the build folder contents from git
build/
# ignore the packaging folder contents from git
packaging/
# ignore vscode files
.vscode
.code-workspace
CXXGraph.code-workspace
# ignore visual studio files
.vs

# cache directories
.cache
