Package: CXXGraph
Version: 4.0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: zigrazor@gmail.com
Description: Header-Only C++ Library for Graph Representation and Algorithms
